<small class='text-muted'>
  <h5>
    <i class="far fa-lightbulb"></i>
    ProTip!
    <%= link_to 'more...', docs_queries_path, target: :_blank, style: "float: right; font-weight: 200" %>
  </h5>
  <ul class='list-unstyled' id='proTip'>
    <li>
      <strong>Command + S</strong> to backup your SQL string.
    </li>
    <li>
      Set column name to <strong>*_date</strong> to format DateTime to <strong><%= Time.current.strftime('%Y/%m/%d') %></strong>
    </li>
    <li>
      Set column name to <strong>*_time</strong> to format DateTime to <strong><%= Time.current.strftime('%H:%M') %></strong>
    </li>

    <% if @data_source.smart_variables.any? %>
      <% @data_source.smart_variables.keys.each do |key| %>
        <li>
          <strong><i class="fas fa-caret-square-down"></i></strong>
          Use <code>{<%= key %>}</code> to get a dropdown of values.
        </li>
      <% end %>
      <li>
        <strong><i class="fas fa-caret-square-down"></i></strong>
        Use <code>{start_time}</code> and <code>{end_time}</code> for a date range selector.
      </li>
      <li>
        <strong><i class="fas fa-caret-square-down"></i></strong>
        End a variable name with <code>_at</code> for a date selector.
      </li>
    <% end %>

    <li>
      <strong><i class="fas fa-chart-line"></i> Chart:</strong>
      2+ columns - timestamp, numeric(s)</li>
    <li>
      <strong><i class="fas fa-chart-line"></i> Chart:</strong>
      3 columns - timestamp, string, numeric
    </li>
    <li>
      <strong><i class="far fa-chart-bar"></i> Chart:</strong>
      2+ columns - string, numeric(s)
    </li>
    <li>
      <strong><i class="far fa-chart-bar"></i> Chart:</strong>
      3 columns - string, string, numeric
    </li>
    <li>
      <strong>Scatter Chart:</strong>
      2 columns - both numeric
    </li>
    <li>
      <strong><i class="fas fa-chart-pie"></i> Chart:</strong>
      2 columns - string, numeric - and last column named <code>pie</code>
    </li>
    <li>
      <strong><i class="fas fa-globe-americas"></i> Chart:</strong>
      Named <code>latitude</code> and <code>longitude</code>, or <code>lat</code> and <code>lon</code>, or <code>lat</code> and <code>lng</code>
    </li>
  <ul>
</small>

<script>
  var itemCount = $('ul#proTip li').length;
  var showIndex = Math.floor(Math.random() * Math.floor(itemCount)) + 1;
  $("ul#proTip li:nth-child(" + showIndex + ")").show();
</script>
